<% if current_user %>
    <ul class="nav nav-tabs mx-2">
    	<li class="nav-item <%=active?(root_path)%>">
            <%= link_to "Home", root_path %>
    	</li>
    	<li class="nav-item <%=active?(posts_path)%>">
            <%= link_to "Time entries", posts_path %>
    	</li>
    	<li class="nav-item <%=active?(edit_user_registration_path)%>">
            <%= link_to "Edit details", edit_user_registration_path %>
        </li>
        <li class="nav-item">
            <%= link_to "New entry", new_post_path, id: "new_post_nav_link" %>
    	</li>
        <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    	</li>
    </ul>
<% end %>