<div class="card card-custom">
  <div class="card-body">
    <h5 class="card-title">Employee: <%= pending_approval.user.full_name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Overtime request: <%= pending_approval.overtime_request %></h6>
    <p class="card-text"><%= pending_approval.rationale.truncate(30, separator: ' ') %></p>
  </div>
	<%= link_to "Review", edit_post_path(pending_approval), class:"btn btn-warning", id:"review_btn_#{pending_approval.id}" %>
	<%= link_to "Approve", approve_post_path(pending_approval), class:"btn btn-success", id:"approve_btn_#{pending_approval.id}" %>
</div>